<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
<!-- <h1>Restaurant Apps Starter Project</h1>
<p>Hallo coders! Anda berhasil menjalankan starter project.</p>
<p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
<img src="./images/heros/hero-image_1.jpg" width="450" alt="">
<img src="./images/heros/hero-image_2.jpg" width="450" alt="">
<img src="./images/heros/hero-image_3.jpg" width="450" alt="">
<img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->

<header class="header">
  <nav class="header-nav">
    <div class="spin-toggle">
      <input id='check-burger' type="checkbox" name="" value="" tabindex="-1">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <a href="#"><img class="header-nav-icon" src="./images/svgs/ENAK_logo.svg" alt="Icon ENAK"></a>
    <ul>
      <li><a href="#maincontent">Home</a> </li>
      <li><a href="#">Favourite</a> </li>
      <li><a href="#">About Us</a> </li>
    </ul>
  </nav>
  <div class="header-heros">
    <div class="heros">
      <div class="overlay">

      </div>
      <img src="./images/heros/hero-image_2.jpg" alt="Heros - gambar header">
    </div>
  </div>
  <div class="paper-wrapper">
    <div class="paper">
      <div class="paper-content">
        <h1>KALO <br>LAPER <br>MAKAN <br>AJA DI</h1>
        <img src="./images/svgs/ENAK_logo.svg" alt="Icon ENAK">
        <span>makanan enak dan ga berat di kantong.</span>
      </div>
    </div>
  </div>
</header>


<!-- navigation left -->

<nav id="sidePanel" class="side-panel">
  <div class="side-panel-link">
    <a href="javascript:void(0)" id="closebtn" class="closebtn" tabindex="-1">×</a>
    <a class="nav-url" href="#home" tabindex="-1">HOME</a>
    <a class="nav-url" href="#search" tabindex="-1">FAVORITE</a>
    <a class="nav-url" href="#about" tabindex="-1">ABOUT US</a>
  </div>
</nav>

<!-- navigation left -->
<main class="main" id="maincontent">
  <div class="main-header">
    <h2 class="">Explore Tempat Makanan Enak</h2>
  </div>
  <div class="parent">
    <section id="card-parent" class="wrapper">

    </section>
  </div>
</main>
<footer>
  <span> <a href="#">develop by. Dhonni Ari Hendra Saputra</a> </span>
</footer>
</body>
</html>
