@use "variables" as v;
@use "sidepanel";

.header {
  &-nav {
    height: 54px;
    width: 100%;
    background-color: v.$primary-color;
    display: grid;
    grid-template-columns: 1fr 3fr;

    &-icon {
      width: 88px;
      padding-top: 15px;
      margin-left: 13vw;
    }

    ul {
      display: none;

      a {
        color: #000;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }


    }


    //hamburger icons
    .spin-toggle {
      margin-top: 20px;
      margin-left: 20px;
      width: 10%;
      height: 20px;

      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 2px;

      span {
        border-radius: 5px;
        display: block;
        width: 28px;
        height: 4px;
        background-color: #000;
        transition: all 0.5s;

      }

      input {
        width: 28px;
        height: 20px;
        position: absolute;
        opacity: 0;
        z-index: 1;
      }
    }


  }
}

.skip-link {

}

@media only screen and (min-width:582px) {
  .header {
    &-nav {
      height: 54px;
      width: 100%;
      background-color: v.$primary-color;
      display: grid;
      grid-template-columns: 0 1fr;

      .spin-toggle {
        display: none;
      }

      ul {
        display: block;
        margin-left: 45vw;
        padding-top: 25px;
        li {
          display: inline;
          padding-left: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width:1024px) {
  .header {
    &-nav {
      ul {
        margin-left: 60vw;
      }
    }
  }
}

@media only screen and (min-width:1128px) {
  .header {
    &-nav {
      ul {
        margin-left: 70vw;
      }
    }
  }
}
