@use "font";
@use "reset_css";
@use "navbar";
@use "heros";
@use "paper";
@use "body";
@use "footer";
@use "detail";
@use "save-button";
@use "preloader";


body {
  background-color: #E7E7E7;
}
img {
    display: block;
}

.main {
  min-height: 700px;
}
